@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.blue {
  text-decoration: none;
  color: rgb(78,113,170);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    background: #181818;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
:root {
/*--vdp-bg-color: "#4f4f4f";*/
/*--vdp-text-color: "#ffffff";*/
/*--vdp-box-shadow: "0 4px 10px 0 rgba(128, 144, 160, 0.1), 0 0 1px 0 rgba(128, 144, 160, 0.81)";*/
/*--vdp-border-radius: "3px";*/
/*--vdp-heading-size: "2.5em";*/
/*--vdp-heading-weight: "bold";*/
/*--vdp-heading-hover-color: "#eeeeee";*/
/*--vdp-arrow-color: "currentColor";*/
/*--vdp-elem-color: "currentColor";*/
/*--vdp-disabled-color: "#636363";*/
/*--vdp-hover-color: "#ffffff";*/
/*--vdp-hover-bg-color: "#0baf74";*/
/*--vdp-selected-color: "#ffffff";*/
/*--vdp-selected-bg-color: "#0baf74";*/
/*--vdp-current-date-outline-color: "#888888";*/
/*--vdp-current-date-font-weight: "bold";*/
/*--vdp-elem-font-size: "0.8em";*/
/*--vdp-elem-border-radius: "3px";*/
/*--vdp-divider-color: "#d5d9e0";*/
}

